/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  background-color: #4969F1;
  /* height: 100vh; /* Body is the height of the viewport */ */
  /* overflow: hidden; /* Hide anything that goes off the window size */ */
}

#t1{
  opacity: 100;
  height: 400%;
}
#t2{
  opacity: 0;
}
#t3{
  opacity: 0;
}
#t4{
  opacity: 0;
}

.templates{
  position: absolute;
  width: 100%;
  height: 210%;
  margin: auto;
  /* opacity: 0; */
}

/* #t12{
  width: 97%;
  height: 120%;
  margin: auto;
} */
