/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: #000000;
  /* cursor:none; */
}

#prova1{
  visibility: hidden;
  margin: auto;
  margin-top: 47vw;
  align-content: center;
}
#image1{
  margin-left: 50px;
}


#prova2{
  visibility: hidden;
  margin: auto;
  margin-top: -29vw;
}
.image2{
  margin-left: 40px;
}

#terza{
  visibility: hidden;
  margin: auto;
  margin-top: -39vw;
}
/* .image3{
  margin-left: 40px;
}
#prova32{
  visibility: hidden;
  margin: auto;
  margin-top: -80px;
}
.image3{
  margin-left: 40px;
} */


#quarta{
  visibility: hidden;
  margin: auto;
  margin-top: -42vw;
}
/* #prova4{
  visibility: hidden;
  margin: auto;
  margin-top: -12vw;
}
.image3{
  margin-left: 40px;
}
#prova42{
  visibility: hidden;
  margin: auto;
  margin-top: -28vw;
}
.image3{
  margin-left: 3px;
}
#prova43{
  visibility: hidden;
  margin: auto;
  margin-top: 2px;
}
.image3{
  margin-left: 3px;
} */
